@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i|Open+Sans:300,400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 780px;
  margin: 0 auto;
}

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

/* GRID */

[class*="col-"] {
  float: left;
  min-height: 1px;
  box-sizing: border-box;
  padding: 20px;
}

.row::after, .row::before {
  content: "";
  clear: both;
  display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* HEADER SECTION */

.header {
    height: 634px;
    background-image: url('img/header.jpg');
    background-position: center;
    color: white;
}

.header .address-header {
    position: absolute;
    top: 303px;
    left: 45px;
    transform: rotate(-90deg);
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 0.2px;
}

.header .address-header span:first-child {
    font-weight: 300;
    margin-right: 9px;
}
.header .address-header span:last-child {
    font-weight: 400;
}
.header .logo {
    position: relative;
    top: 56px;
}

.header .logo img {
    float: left;
    margin-right: 7px;
    height: 27px;
    width: 27px;
}

.header .logo .name {
    line-height: 13.87px;
    padding-top: 7px;
    font-size: 14px;
    font-family: 'Merriweather', serif;
    font-style: italic;
    letter-spacing: -0.16px;
    font-weight: 400;
}

.header .page-title {
    position: relative;
    top: 299px;
    clear: both;
}

.header .title-par {
    font-size: 40px;
    font-weight: 300;
}

.header .desc-par {
    line-height: 16px;
    font-size: 10px;
    font-weight: 400px;
    height: 25px;
    width: 310px;
}

.header .iphone {
    position: absolute;
    top: 178px;
    right: 99px;
}

/* END OF HEADER SECTION */


/* TEXT SECTION */

.text {
    min-height: 360px;
    padding-top: 75px;
    padding-bottom: 55px;
}

.text [class*='col-'] {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}
.text h2 {
    color: #222626;
    font-weight: 300;
    line-height: 16px;
    margin-bottom: 20px;
}

.text p {
    font-size: 10px;
    color: #959595;
    font-weight: 400;
    line-height: 16px;
    margin: 10px 0;
}

/* END OF TEXT SECTION */

/* GRID BOX SECTION */

.grid-box {
    width: 1068px;
    height: 370px;
    margin-left: auto;
    color: white;
}

.grid-box .row {
    height: 50%;
}
.grid-box [class*='col-'] {
    height: 100%;
    padding: 34px;
    position: relative;
}

.grid-box .row:first-child > div:nth-child(1) {
    background-color: #f5989d;
}

.grid-box .row:first-child > div:nth-child(2) {
    background-color: #615f7d;
}

.grid-box .row:first-child > div:nth-child(3) {
    background-image: url('img/box-background-1.jpg');
    background-size: cover;
}

.grid-box .row:first-child > div:nth-child(4) {
    background-color: #bd8cbf;
}

.grid-box .row:nth-child(2) > div:nth-child(1) {
    background-image: url('img/box-background-3.jpg');
    background-size: cover;
}

.grid-box .row:nth-child(2) > div:nth-child(2) {
    background-color: #82ca9c;
}

.grid-box .row:nth-child(2) > div:nth-child(3) {
    background-image: url('img/box-background-2.jpg');
    background-size: cover;
}

.grid-box [class*='col-'] h3 {
    font-size: 20px;
    font-weight: 300;
}

.grid-box [class*='col-'] p {
    font-weight: 400;
    font-size: 10px;
    margin: 15px 0;
    line-height: 16px;
}

.grid-box [class*='col-'] a {
    font-weight: 700;
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.grid-box [class*='col-'] a:hover {
    text-decoration: none;
}

.grid-box [class*='col-'] a span{
    margin-left: 10px;
}

.grid-box button {
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    bottom: 29px;
    right: 29px;
}

/* END OF GRIDBOX SECTION */

/* FOUR COLUMNS SECTION */
.four-columns {
    height: 350px;
    padding-top: 65px;
    padding-bottom: 105px;
}

.four-columns [class*='col-'] {
    padding: 0 20px 0 0;
}

.four-columns [class*='col-']:last-child {
    padding: 0;
}

.four-columns h2 {
    font-size: 24px;
    font-weight: 300;
    color: #222626;
    margin-bottom: 45px;
}

.four-columns h5 {
    font-size: 10px;
    font-weight: 400;
    color: #67676d;
    margin-bottom: 19px;
}

.four-columns p {
    font-size: 9px;
    font-weight: 400;
    color: #959595;
    line-height: 16px;
}

/* END OF FOUR COLUMNS SECTION */

/* IMAGE SECTION */

.image-section {
    height: 583px;
    background-image: url('img/imagesection-bg.jpg');
    background-position: center;
}

.image-section [class*='col-'] {
    padding: 0;
}

.image-section h2 {
    font-size: 38px;
    font-weight: 300;
    color: white;
    margin-top: 303px;
    margin-bottom: 20px;
}

.image-section p {
    font-size: 10px;
    font-weight: 400;
    color: white;
    margin-bottom: 17px;
}
.image-section [class*='col-'] a {
    font-weight: 700;
    font-size: 9px;
    color: white;
    text-decoration: none;
}

.image-section [class*='col-'] a:hover {
    text-decoration: none;
}

.image-section [class*='col-'] a span{
    margin-left: 13px;
}